//- do not put 'extend layout' in here!

form(ng-submit="addAnalogy()")
		p 
		b Technology/library
			select(ng-model="newAnalogy.technology") Technology
				option(value="General") General coding
				option(value="JavaScript") JavaScript	
				option(value="Node") Node.js
				option(value="Angular") Angualar.js
				option(value="HTML/CSS") HTML/CSS
				option(value="MongoDB") MongoDB
				option(value="Mongoose") Mongoose
				option(value="jQuery") jQuery
				option(value="Bootstrap") Bootstrap
				option(value="Materialize") Materialize
				option(value="Git/Github") Git/Github		
				option(value="Underscore") Underscore
				option(value="Passport") Passport
				option(value="OOP") OOP
				option(value="Ajax") Ajax
				option(value="APIs") APIs
			//- p Keywords:
			//- 	input(ng-model="newAnalogy.keyword" name="keywords" placeholder="Keywords")
			p Analogy:
				input(ng-model="newAnalogy.analogy" id="analogy" name="analogy" placeholder=" $scope is like the glue between the view and the controller!")
			p Submitted by (optional) :
				input(ng-model="newAnalogy.user" name="user")
				button(type="submit") Submit All

	.userInput
		.div(ng-repeat="analogy in analogies")
			p 
			b Technology: 
			{{analogy.technology}}
			//- p Keyword:
			//- 	span(ng-repeat="keyword in analogy.keyword")  {{keyword}} 
			p 
			b Analogy:  
			{{analogy.analogy}}
			p 
			b Submitted by:  
			{{analogy.user}}
			br 
			br
